.button {
    padding: .6em 1.2em;
    border: none;
    border-radius: 4px;
    border: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.primary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: white;
}

.primary:hover {
    background-color: var(--primary-default);
    border-color: var(--primary-default);
}

.secondary {
    background-color: var(--background-dark);
}

.secondary:hover {
    background-color: var(--background-darker);
}

.danger {
    background-color: #dc3545;
    color: white;
}

.danger:hover {
    background-color: #c82333;
}

.outline {
    background-color: var(--background-default);
    color: var(--primary-light);
    border-color: var(--primary-light);
}

.outline:hover {
    background-color: var(--primary-default);
    border-color: var(--primary-default);
    color: white;
}
